@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*!
 * =============================================
 * SORCERY GRIDS 1.2.0 - CSS! (╯°□°）╯ NYAAA!
 * =============================================
 *
 * http://github.com/mikehdt/sorcery-grids
 */
.set, .set-a, .set-b {
  margin: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.set {
  display: block;
  width: auto;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  width: 100%;
  padding: 0;
  font-size: 0;
}
.set > .set-a, .set > .set-b {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.set > .set {
  display: inline-block;
  margin: 0;
}

.set-a, .set-b {
  display: inline-block;
  font-size: 1rem;
}

.set {
  text-align: center;
}
.set > .set-a, .set > .set-b {
  text-align: left;
}

/* Grid: base */
.set-a {
  width: 28.57143%;
}

.set-b {
  width: 42.85714%;
}

/* Grid: lap */
@media (max-width: 979px) and (min-width: 480px) {
  .set-a {
    width: 40%;
  }

  .set-b {
    width: 60%;
  }
}
/* Grid: palm */
@media (max-width: 479px) {
  .set-a, .set-b {
    width: 33.33333%;
  }
}
/* Offset: lap */
/* Offset: palm */
.set {
  margin: 1rem 0;
}

.set, .set-a, .set-b, .set p {
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}

.set p {
  font-size: .85em;
  padding: .5em 1em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
