// MIXIN logic-type
//
// Determine the display logic, depending on the $grid-logic setting and whether
// or not we are applying it to a parent or child element.
//
@mixin logic-type ($context:"parent") {
	@if $grid-logic == "inline" {
		// Inline blocks
		@if $context == "parent" {
			display: block;
		}
		@else if $context == "child" {
			display: inline-block;
		}
	}
	@else if $grid-logic == "float" {
		// Floated elements
		@if $context == "parent" {
			// Floated parents need an ::after element to clear their children
			&::after {
				content: "";
				display: block;
				clear: both;
			}
		}
		@else if $context == "child" {
			float: left;
		}
	}
	@else {
		@warn "The logic type `${$grid-logic}` is not supported.";
	}
}