// MIXIN grid-align
//
// Determines which type of grid alignment to work on.
//
@mixin grid-align ($axis, $align-types, $class-breakpoint) {
	@if $axis == "horizontal" {
		@each $align-type in $align-types {
			@include grid-align-item-horizontal($align-type, $class-breakpoint);
		}
	}
	@else if $axis == "vertical" {
		@each $align-type in $align-types {
			@include grid-align-item-vertical($align-type, $class-breakpoint);
		}
	}
}


// MIXIN grid-align-item-horizontal
//
// As it says on the tin.
//
@mixin grid-align-item-horizontal ($align-type, $class-breakpoint) {
	$class-name: "align--"+ $align-type;

	@if $breakpoint-position == "prefix" {
		$class-name: $class-breakpoint + $class-name;
	}
	@else if $breakpoint-position == "suffix" {
		$class-name: $class-name + $class-breakpoint;
	}

	// @@@ This is a problem with silent classes
	@if $align-type != "left" {
		#{class-gen($class-name)} > .#{$name-grid-item} {
			text-align: left;
		}
	}

	// Due to the way Sass optimises things it seems, children being inside is
	// necessary to avoid issues when both class types are enabled.
	// @@@ Issues with static AND silent enabled; need to be separated?
	#{class-gen($class-name)},
	#{class-gen($class-name)} > .#{$class-name} {
		text-align: #{$align-type};
	}
}


// MIXIN grid-align-item-vertical
//
// Also as it says on the tin.
//
@mixin grid-align-item-vertical ($align-type, $class-breakpoint) {
	// Sanity check
	@if $grid-logic == "float" {
		@warn "Float logic and vertical alignment are enabled, but they cannot be used with each other.";
	}

	$class-name: "align--"+ $align-type;

	@if $breakpoint-position == "prefix" {
		$class-name: $class-breakpoint + $class-name;
	}
	@else if $breakpoint-position == "suffix" {
		$class-name: $class-name + $class-breakpoint;
	}

	#{class-gen($class-name)} {
		vertical-align: #{$align-type};
	}
}