$grids-base:   (2 3 4 5 8);
$offsets-base: (2 4 8);

$breakpoints: (
	lap
		"(max-width: 979px) and (min-width: 480px)"
		(2 3 4 5)
		(2 4 8),
		
	palm
		"(max-width: 479px)"
		(2 4)
		(8)
);

$use-align-horizontal:  true;
$use-align-vertical:    true;
$use-reversible:        true;
$use-push:              true;
$use-pull:              true;
$use-shift:             true;
$use-unshift:           true;
$gutter-type:           none;
$use-gutter-widths:     true;
$use-gutter-equal:      true;
$use-gutter-offset:     true;

$use-spacing-hack:       true;

@import "compass/reset";
@import "sorcery-grids";