$crystal-grids: (
	default: (
		grids:            (2),
		gutter-width:     0,
		gutter-extra-types:  ("clear", "equal", "offset"),
		gutter-extra-widths: ("s": 1rem)
	),

	s: (
		media:            "(min-width: 25em)",
		grids:            (1, 2, 3),
		gutter-width:     0,
		gutter-extra-types:  ("clear", "equal", "offset")
	),

	m: (
		media:            "(min-width: 30em)",
		grids:            (1, 2, 3, 4, 5)
	),

	l: (
		media:            "(min-width: 45em)",
		grids:            (1, 2, 3, 4, 5, 6)
	),

	xl: (
		media:            "(min-width: 60em)",
		grids:            (1, 2, 3, 4, 5, 6, 8)
	)
);

@import "crystal-grids";