// MIXIN grid-reversible
//
// Sets up the basic classes for reversible grids.
//
@mixin grid-reversible ($class-breakpoint:"") {
	// @@@ Abstract this prefix/suffix logic to a shared function?
	$prefix: "";
	$suffix: "";

	@if $breakpoint-position == "prefix" {
		$prefix: $class-breakpoint;
	}
	@else if $breakpoint-position == "suffix" {
		$suffix: $class-breakpoint;
	}

	#{class-gen($prefix + $name-grid + "--rev"+ $suffix)} {
		flex-direction: row-reverse;
	}
}